.label {
    -fx-text-fill: #41a200;
    -fx-font-size: 14;
    -fx-font-family: "Segoe Script";
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 45;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
}


.rank {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

