.label {
    -fx-text-fill: #41a200;
    -fx-font-family: "Comic Sans MS";
}

#scoreTitle {
    -fx-font-size: 20;
    -fx-alignment: center;
}

#playerScore {
    -fx-font-size: 30;
    -fx-alignment: center;
}