.label {
    -fx-text-fill: #41a200;
    -fx-font-family: "Segoe Script";
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#scoreTitle {
    -fx-font-size: 20;
}

#playerScore {
    -fx-font-size: 30;
}